<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
  
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
  
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  
  
        <h2>Welcome to Admin Portal of Live Young Fitness Club.!</h2>
        <form>
  
          <div class="form-outline mb-4">
            <h4>Please select the OPeration you want to follow.</h4>
          </div>
  
    
  
          <div class="text-center text-lg-start mt-4 pt-2">
            <a routerLink="/insertmenu" routerLinkActive="active"><button type="submit" class="btn btn-primary btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Insert Dish</button></a> &nbsp;
            <a routerLink="/updatemenu" routerLinkActive="active"><button type="submit" class="btn btn-dark btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Update Dish</button></a>&nbsp;
            <a routerLink="/deletemenu" routerLinkActive="active"><button type="submit" class="btn btn-danger btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Delete Dish</button></a>
          </div> <br>
        
        </form>  
  
  
      </div>
  
   </div>
  </div>
  