<div class="top">
    <h2>You are not an authorized person to use these services.</h2> 
</div>
<div id="main" class="text-center text-lg-start mt-4 pt-2">
    <h4>Do you want to login again?</h4>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/login" routerLinkActive="active"><button type="submit" class="btn btn-primary btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Yes! Try Login</button></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/showmenu" routerLinkActive="active"><button type="submit" class="btn btn-dark btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">No! Just show the Menu</button></a>
  </div> <br>